<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Imdb Scrape</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
