{% extends 'layout.html' %}
{% block content %}
<p> Movie Name :-</p>
<p> Imdb Ratings :-</p><br/>
<p> Cast and their character </p>
{% for name in Entry.objects.all()}
    print(e.headline)
{% endfor %}
{% endblock %}
